@import url(https://db.onlinewebfonts.com/c/8611cf274fd66935b8f771ac84029521?family=Matter+SQ+Regular);
@import url('https://fonts.cdnfonts.com/css/md-nichrome-test');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgba(255, 255, 255, 1);
    background: #060809;
    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

    .custom-range {
      -webkit-appearance: none;
      /* Ensure custom styling is applied */
      appearance: none;
      width: 100%;
      /* Full width of the container */
      background: #343F4B;
      /* Track color */
      height: 6px;
      border-radius: 3px;
      outline: none;
      /* Remove default focus outline */
    }
  
    /* Track styles for WebKit browsers (Chrome, Safari) */
    .custom-range::-webkit-slider-runnable-track {
      background: #343F4B;
      /* Track color */
      height: 6px;
      border-radius: 3px;
    }
  
    /* Thumb styles for WebKit browsers */
    .custom-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #fff;
      /* Thumb color */
      border-radius: 50%;
      border: 4px solid #00A699;
      /* Inner white circle */
      cursor: pointer;
      margin-top: -7px;
      /* Aligns thumb perfectly with track */
    }
  
    /* Track styles for Firefox */
    .custom-range::-moz-range-track {
      background: #343F4B;
      /* Track color */
      height: 6px;
      border-radius: 3px;
    }
  
    /* Thumb styles for Firefox */
    .custom-range::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      border: 4px solid #00A699;
      cursor: pointer;
    }
  
    /* Track styles for Microsoft Edge/IE */
    .custom-range::-ms-track {
      background: #343F4B;
      /* Track color */
      height: 6px;
      border-radius: 3px;
      border: none;
      color: transparent;
      /* Hide the track border */
    }
  
    /* Thumb styles for Microsoft Edge/IE */
    .custom-range::-ms-thumb {
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      border: 4px solid #00A699;
      cursor: pointer;
    }
  
    /* Styles for the active thumb when dragging */
    .custom-range:active::-webkit-slider-thumb {
      background: #008f6d;
      /* Darker thumb when active */
    }
  
    .custom-range:active::-moz-range-thumb {
      background: #008f6d;
    }
  
    .custom-range:active::-ms-thumb {
      background: #008f6d;
    }